.end-screen {
	width: 100%;
	height: 100%;
	position: absolute;
}
.end-screen.victory {
	background-color: rgba(0, 255, 0, 0.1);
}
.end-screen.defeat {
	background-color: rgba(255, 0, 0, 0.1);
	position: fixed;
}
.content {
	margin: 0 auto;
	height: 100%;
	max-width: min(80%, 400px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}
.content * {
	text-shadow: 2px 2px black;
}

.end-screen button {
	width: 100%;
	height: 35px;
	text-shadow: 2px 2px black;
}
