.items-grid {
	background-image: url("../assets/inventory_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: repeat(4, 150px);
	max-width: 800px;
	padding: 2em;
	margin-top: 1rem;

@media (max-width: 1000px) {
	.items-grid {
		grid-template-columns: repeat(4, 120px);
		max-width: 550px;
	}
}
@media (max-width: 600px) {
	.items-grid {
		grid-template-columns: repeat(3, 80px);
		max-width: 380px;
		min-width: 200px;
		padding: 1em;
	}
}
